<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".GlobalClass"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/app_book"
        android:installLocation="preferExternal"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_book_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity_ComicGroupViewer"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activity_CatalogAnalysis"
            android:exported="false" />
        <activity
            android:name=".Activity_UserSelection"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity android:name=".Activity_UserManagement" />
        <activity android:name=".Activity_Browser" />
        <activity android:name=".Activity_WorkerConsole" />
        <activity android:name=".Activity_LogViewer" />
        <activity android:name=".Activity_ComicDetailsEditor" />
        <activity android:name=".Activity_TagEditor" />
        <activity
            android:name=".Activity_VideoPlayer"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_video_player_full_screen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activity_CatalogViewer" />
        <activity android:name=".Activity_Import" />
        <activity
            android:name=".Activity_PinCodePopup"
            android:theme="@style/AppTheme.PinCodePopup" />
        <activity
            android:name=".Activity_Main"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity_AppSettings"
            android:label="@string/title_activity_a_g_gallery_settings"
            android:parentActivityName=".Activity_Main" />
        <activity
            android:name=".Activity_ComicDetails"
            android:label="@string/title_activity_comic_details"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activity_ComicViewer"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_comic_viewer"
            android:parentActivityName=".Activity_ComicDetails" />
        <activity
            android:name=".Activity_ComicViewer2"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_comic_viewer2"
            android:parentActivityName=".Activity_ComicDetails"
            android:theme="@style/AppTheme.Fullscreen"/>
        <activity
            android:name=".Activity_ExportComics"
            android:parentActivityName=".Activity_CatalogViewer"
            android:theme="@style/AppTheme" />
        <activity android:name=".Activity_ImportFilePreview" />
    </application>

</manifest>